<!DOCTYPE html>
<html>
<head>
    <title>Lista zadań</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Lista zadań</h1>

    <form method="POST">
        <input type="text" name="task" placeholder="Nowe zadanie" required>
        <button type="submit">Dodaj</button>
    </form>

    <ul>
        {% for task in tasks %}
            <li>
                {{ task["content"] }}
                <a href="/delete/{{ task['id'] }}">zrobione!</a>
            </li>
        {% else %}
            <li>Brak zadań</li>
        {% endfor %}
    </ul>

</body>
</html>